@import "styles/variables.scss";

.nav {
  padding: 10px 240px;
  margin: 0;
  width: 100%;
  height: 81px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 300ms;
  z-index: 999;

  @media (max-width: $xxl-breakpoint) {
    padding: 10px 100px;
  }

  @media (max-width: $lg-breakpoint) {
    padding: 10px 50px;
    font-size: 12px;
    height: 51px;
  }

  @media (max-width: $md-breakpoint) {
    padding: 10px 20px;
  }
}

.left_nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.6s;

  .small__logo {
    display: none;
    @media (max-width: $md-breakpoint) {
      display: inline-block;
    }
  }

  .big__logo {
    display: inline-block;
    @media (max-width: $md-breakpoint) {
      display: none;
    }
  }
}

.right_nav {
  cursor: pointer;
  transition: 0.6s;
  display: flex;
  @media (max-width: $md-breakpoint) {
    display: none;
  }
  p {
    transition: 300ms;
    margin: 0 20px;
    padding: 6px;
    border-bottom: 2px solid $black;

    @media (min-width: $md-breakpoint) {
      height: 37px;
    }
  }
}

.right_nav p:hover {
  border-bottom: 8px solid $lilac;
}

.right_nav p:active {
  border-bottom: 8px solid $black;
}

.hamburger {
  display: none;
  @media (max-width: $md-breakpoint) {
    display: flex;
    cursor: pointer;
  }
}

.show_hamburger {
  width: 261px;
  height: 185px;
  background-color: $white;
  text-align: center;
  color: $black;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4px;
  right: 0;
  padding: 26px;
  padding-top: 16px;
  border-radius: 5px;


  p{
    font-size: 16px;
    text-align: left;
  }
}

.show_hamburger p:hover {
  cursor: pointer;
  color: $lilac;
}

.images_display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  margin-bottom: 20px;
}
