@import "styles/variables.scss";

.layout{
    margin: 0;
    background-image: url(../public/images/color.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    height: 2264px;

    @media (max-width: $xl-breakpoint) {
        height: 760px;
    }

    @media (max-width: $lg-breakpoint) {
        height: 800px;
    }

    @media (max-width: $md-breakpoint) {
        height: 1109px;
    }
}