@import "styles/variables.scss";

.layout{
    margin: 0;
    background-image: url(../public/images/color.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    height: 2284px;
    // height: 2214px;

    @media (max-width: $xl-breakpoint) {
        // height: 1864px;
        height: 1900px;
    }

    @media (max-width: $lg-breakpoint) {
        height: 3064px;
    }

    @media (max-width: $md-breakpoint) {
        height: 2700px;
    }
}