@import "styles/variables.scss";

.footer_container {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19172d;
  margin-top: 150px;
  font-family: "clash-bold";

  @media (max-width: $lg-breakpoint) {
    height: 305px;
    margin-top: 100px;
  }
}

.email_link {
  cursor: pointer;
  display: flex;
  color: $light-lilac;
  font-size: 24px;
  align-items: center;
  border-bottom: 2px solid $light-lilac;
  transition: 300ms;
  height: 40px;
  
  @media (max-width: $md-breakpoint) {
      font-size: 16px;
    }
}

.email_link p{
    margin: 5px;
    margin-bottom: 8px;
}

.email_link:hover {
  border-bottom: 6px solid $white;
}

.email_link:active {
  color: $white;
}

.email_icon{
 font-size: 20px;
 margin-right: 10px;
}

.footer_header {
  font-size: 42px;
  color: white;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    display: none !important;
  }

  @media (max-width: $lg-breakpoint) {
    display: flex;
    font-size: 24px;
  }
}

.footer_header_mobile {
  display: none;
  @media (max-width: $md-breakpoint) {
    display: flex;
    font-size: 24px;
    color: $white;
    text-align: center;
  }
}
