@import "styles/variables.scss";

.header {
  font-size: 65px;
  text-align: center;
  padding-top: 161px;
  margin-top: 0;
  color: #19172d;
  font-family: "clash-bold";
  background: linear-gradient(to right, #7d4fe0, #f39180, #7ad5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media (max-width: $xl-breakpoint) {
    font-size: 48px;
  }

  @media (max-width: $lg-breakpoint) {
    font-size: 40px;
  }

  @media (max-width: $md-breakpoint) {
    display: none;
  }
}

.info_wrapper {
  display: flex;
  gap: 45px;

  @media (max-width: $md-breakpoint) {
    margin-bottom: 14px;
  }

  & > div {
    align-items: center;
  }
}

.time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_mobile {
  display: none;
  margin-top: 0;
  color: #19172d;
  font-family: "clash-bold";
  background: linear-gradient(to right, #7d4fe0, #f39180, #7ad5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media (max-width: $md-breakpoint) {
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    padding-top: 89px;
    line-height: 43px;
  }
}

.eventnoire_images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  @media (max-width: $lg-breakpoint) {
    gap: 20px
  }
  align-items: center;
  padding: 0 250px;
  margin-top: 94px;

  section {
    display: flex;
    // flex-wrap: wrap;
    @media (max-width: $lg-breakpoint) {
      flex-direction: column;
      gap: 20px
    }
  }

  @media (max-width: $xxl-breakpoint) {
    padding: 0 80px;
  }

  @media (max-width: $xl-breakpoint) {
    padding: 0 80px;
  }

  @media (max-width: $lg-breakpoint) {
    padding: 0 50px;
  }

  @media (max-width: $md-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
}

.image_container {
  width: 539px;
  height: 545px;
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 40px;
  
  img {
    object-fit: cover;
  }
  // border-radius: 6px;
  // overflow: hidden !important;

  @media (max-width: $xxl-breakpoint) {
    width: 539px;
    height: 545px;
  }

  @media (max-width: $xl-breakpoint) {
    width: 380px;
    height: 436px;
  }

  @media (max-width: $lg-breakpoint) {
    margin: 0 20px;
    height: 430px;
  }

  @media (max-width: $md-breakpoint) {
    width: 337px;
    height: 388px;
    margin: 25px 0;
  }
}

.eventnoire_card {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: "clash-semibold";

  @media (max-width: $md-breakpoint) {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: unset;
    margin: 0;
  }
}

.eventnoire_card {
  .dates_display {
    @media (min-width: $md-breakpoint) {
      & > div:first-child {
        margin-bottom: 24px;
      }
    }
    @media (max-width: $xl-breakpoint) {
      font-size: 12px;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $lg-breakpoint) {
      font-size: 12px;
      font-size: 12px;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $md-breakpoint) {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      font-size: 12px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  button {
    font-family: "Stolzl";
    @media (min-width: $md-breakpoint) {
      margin-top: 29px;
    }
    @media (max-width: $xl-breakpoint) {
      font-size: 12px;
    }

    @media (max-width: $lg-breakpoint) {
      font-size: 12px;
    }

    @media (max-width: $md-breakpoint) {
    }
  }
}

.dates {
  display: flex;
  // align-items: center;
  align-items: flex-start;

  p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: $md-breakpoint) {
      line-height: 17px;
      margin-left: 5px;
    }
  }
}

.dates_img {
  @media (max-width: $md-breakpoint) {
    width: 14px !important;
    height: 15px !important;
  }
}

.btn {
  width: 178px;
  font-size: 16px;
  @media (max-width: $lg-breakpoint) {
    width: 106px;
  }

  @media (max-width: $md-breakpoint) {
    width: 296px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
}
