@import "styles/variables.scss";

.header {
  font-size: 65px;
  text-align: center;
  padding-top: 161px;
  margin-top: 0;
  color: #19172D;

  @media (max-width: $xl-breakpoint) {
    font-size: 48px;
  }

  @media (max-width: $lg-breakpoint) {
    font-size: 40px;
  }

  @media (max-width: $md-breakpoint) {
    display: none;
  }
}

.header_mobile {
  display: none;
  margin-top: 0;
  color: #19172D;

  @media (max-width: $md-breakpoint) {
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    padding-top: 89px;
    line-height: 43px;
  }
}

.eventnoire_images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 250px;
  margin-top: 94px;

  @media (max-width: $xxl-breakpoint) {
    padding: 0 80px;
  }

  @media (max-width: $xl-breakpoint) {
    padding: 0 80px;
  }

  @media (max-width: $lg-breakpoint) {
    padding: 0 50px;
  }

  @media (max-width: $md-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}

.image_container {
  width: 539px;
  height: 449px;
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 40px;

  @media (max-width: $xxl-breakpoint) {
    width: 539px;
    height: 440px;
  }

  @media (max-width: $xl-breakpoint) {
    width: 380px;
    height: 350px;
  }

  @media (max-width: $lg-breakpoint) {
    margin: 0 20px;
    height: 333px;
  }

  @media (max-width: $md-breakpoint) {
    width: 337px;
    height: 334px;
    margin: 25px 0;
  }
}

.eventnoire_card {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;

  @media (max-width: $md-breakpoint) {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: unset;
    margin: 0;
  }
}

.dates_display {
  @media (min-width: $md-breakpoint) {
    & > div:first-child {
      margin-bottom: 15px;
    }
  }
  @media (max-width: $xl-breakpoint) {
    font-size: 12px;
  }

  @media (max-width: $lg-breakpoint) {
    font-size: 12px;
  }

  @media (max-width: $md-breakpoint) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.dates {
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: $md-breakpoint) {
      margin-left: 5px;
    }
  }
}

.dates_img {
  @media (max-width: $md-breakpoint) {
    width: 14px !important;
    height: 15px !important;
  }
}

.btn {
  width: 178px;

  @media (max-width: $lg-breakpoint) {
    width: 106px;
  }

  @media (max-width: $md-breakpoint) {
    width: 296px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
}
