@import "styles/variables.scss";

@font-face {
  font-family: "Stolzl";
  src: url("../public/images/Fonts/Stolzl-Regular.ttf");
}

html {
  font-size: 16px;
  font-family: "Stolzl";
  scroll-behavior: smooth;

  // on tablets
  @media (max-width: $md-breakpoint) {
    font-size: 14px;
  }

  // on phones
  @media (max-width: $md-breakpoint) {
    font-size: 13px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
}

// ------- Define the different sizes of the texts
@mixin defaultstyles {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 400;
}

button {
  cursor: pointer;
  background-color: #7d4fe0;
  outline: none;
  border: none;
  height: 55px;
  color: white;
  border-radius: 5px;
  transition: 300ms;
}

button:hover {
  background-color: #9f7bef;
}

button:active {
  background-color: #19172d;
}

input {
  width: 390px;
  height: 55px;
  border: 1px solid #dddde5;
  border-radius: 5px;
  background: #f9f9f9;
  margin-top: 12px;
  margin-bottom: 30px;
  outline: none;
  font-family: Stolzl;
  padding: 15px 20px;
  transition: 300ms;

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #c5c5ca;
    border: 1px solid transparent;
  }
  &:hover {
    border: 1px solid #8c8b96;
  }
  &:focus {
    border: 1px solid #7d4fe0;
  }

  @media (max-width: $md-breakpoint) {
    width: 335px !important;
  }
}

label {
  text-align: left;
  color: #8c8b96;
  font-size: 14px;
  font-weight: 400;
}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  input {
    width: 335px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) {
  input {
    width: 335px;
  }
}

input {
  &[type="date"] {
    background:
      url(https://res.cloudinary.com/xand6r/image/upload/v1642026263/calender_fknavg.svg)
      97% 50% no-repeat;
      &:focus{
        background:
        url(https://res.cloudinary.com/xand6r/image/upload/v1642026636/purpleCalender_ythqed.svg)
        97% 50% no-repeat;
      }
  }
  &[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  &[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}
