// defining the different colors to be used
$ionic-ivory: #f3efe2;
$white: #FFFFFF;
$lilac: #7D4FE0;
$relish: #8fb685;
$light-gray: #8C8B96;
$black: #19172D;
$light-lilac: #B7A6F4;

// define breakpoint variables
$xxl-breakpoint: 1500px;
$xl-breakpoint: 1200px;
$lg-breakpoint: 1000px;
$md-breakpoint: 800px;
$sm-breakpoint: 650px;

// define speed variables
$fast-transition: 200ms;